section.features .feature-item i {
  font-size: 80px;
  display: block;
  margin-bottom: 15px;
  background: linear-gradient(270deg, #20a4f3, #C3C4C2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#mainNav .navbar-nav>li>a.active {
  color: #20a4f3 !important;
  background-color: transparent;
}

.btn {
  color: #000000;
  border: 1px solid;
  border-color: #000000;
}

#mainNav .navbar-brand {
  color: #000000;
  font-size: 40px;
}

#mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
  color: #20a4f3;
}

.btn.active, .btn:active, .btn:focus, .btn:hover {
  color: #ffffff;
  border-color: #ffffff;
  background-color: #000000;
}

a:focus, a:hover {
  color: #20a4f3;
}

a {
  color: #20a4f3;
  transition: all .35s;
}

#mainNav.navbar-shrink .navbar-brand:focus, #mainNav.navbar-shrink .navbar-brand:hover {
  color: #20a4f3;
}

.bg-primary {
  background: #79C8F8 !important;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  text-align: left;
  background-color: #fff;
}
